__pycache__/
**.pyc
Solidity.interp
SolidityLexer.interp
SolidityLexer.py
SolidityLexer.tokens
SolidityListener.py
SolidityParser.py
Solidity.tokens
SolidityParser.tokens
SolidityParser.interp
SolidityParserListener.py
SolidityLexer.java
Solidity.py
venv
.DS_Store/
.idea

# local build files
.eggs/
build/
solidity_parser/solidity_parser.egg-info

# leave this out for now as we don't have stable builds yet
dist/
